<div id="<%= dom_id weight_history %>">
  <div>
    <strong>User:</strong>
    <%= weight_history.user_id %>
  </div>

  <div>
    <strong>Weight:</strong>
    <%= weight_history.weight %>
  </div>

  <div>
    <strong>Memo:</strong>
    <%= weight_history.memo %>
  </div>

</div>
